<a href="https://colab.research.google.com/github/dk3059/Algorithm/blob/main/%EB%AA%A8%EB%91%90%EC%9D%98_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[return 참고자료](https://rfriend.tistory.com/365)

### 재귀 호출

In [1]:
# 최댓값 구하기

v = [10, 500, 200, 300, 700]

def max_num(n, v):
  if n <= 1:
    return v[0]

  else :
    if (v[n-1] > max_num(n-1, v)):
      return v[n-1]
    else:
        return max_num(n-1, v)


max_num(len(v), v)

700

In [3]:
# 피보나치 수열 구하기

def fiv(n):
  if n <= 1:
    return n
  return fiv(n-2) + fiv(n-1)

fiv(10)

55

### 순차탐색

In [12]:
# 특정 숫자의 위치 찾기(1)

def search_list(v, x):
  n = len(v)
  for i in range(0, n):
    if v[i] == x :
      return (i, x)
  return -1

v = [17, 92, 18, 33]

search_list(v, 92)

(1, 92)

In [14]:
# 특정 숫자의 위치 찾기(2)

def search_list(v, x):
  n = len(v)
  same = []
  for i in range(0, n):
    if v[i] == x :
      same.append(i)
  return same

v = [17, 92, 18, 33, 92]

search_list(v, 92)

[1, 4]

In [17]:
# 해당하는 학생 번호 찾기
def serch_no(s_no, s_name, f_name):
  n = len(s_name)
  num = []
  for i in range(0, n):
    if s_name[i] == f_name:
      num.append(s_no[i])
  return num

stu_no = [39, 14, 67, 105, 10]
stu_name = ["Justin", "John", "Mike", "Summer", "Justin"]
serch_no(stu_no, stu_name, "Justin")

[39, 10]

### 선택정렬

In [18]:
def find_min(x):
  n = len(x)
  min_idx = 0
  for i in range(1, n):
    if x[min_idx] > x[i]:
      min_idx = i
  return min_idx


def sort_num(x):
  sort = []
  while x:
    min_idx = find_min(x)
    min_num = x.pop(min_idx) #리스트에서 주어진 위치에 있는 항목을 삭제하고 돌려줌 (인덱스를 지정하지 않으면, 리스트의 마지막 항목)
    sort.append(min_num)
  return sort


d = [1, 5, 4, 8, 3]

sort_num(d)

[1, 3, 4, 5, 8]

In [28]:
def find_min(x):
  n = len(x)

  for i in range(0, n-1):
    min_idx = i
    for j in range(i+1, n):
      if x[min_idx] > x[j]:
        min_idx = j
    x[i], x[min_idx] = x[min_idx], x[i]
  return x



d = [1, 5, 4, 8, 3]

find_min(d)

[1, 3, 4, 5, 8]

In [34]:
def find_max(x):
  n = len(x)

  for i in range(0, n-1):
    max_idx = i
    for j in range(i+1, n):
      if x[max_idx] < x[j]:
        max_idx = j
    x[i], x[max_idx] = x[max_idx], x[i]
  return x

d = [1, 5, 4, 8, 3]
find_max(d)

[8, 5, 4, 3, 1]